# Data cleaning

In [1]:
import pandas as pd
import re

plan:
* remove letters from height and weight
* make commas, periods consistent for height and weight

* separate metric and imperial
* convert imperial to metric > for height turn everything into inches and convert
* combine the two

* fill entries with no answer as N/A for now
* list all entries for weighted pulls, max pullups/chinups reps with length => 6
* if not too many then just change by individually reassigning
* otherwise figure out regex
* try using a language processing package to parse data from really long answers?

* calculate 1rm of pulls
* change to relative strength
* optional - calculate endurance rep max

* make a dummy variable column for each specific method in the final question

In [2]:
raw = pd.read_excel("The OAC_OAP survey (Responses).xlsx")

### splitting up metric and imperial data sets and doing some column rearrangement

In [3]:
raw.columns

Index(['Timestamp',
       'Metric (kg and centimetres) or Imperial (pounds and feet'inches)?',
       '(optional) In order to take part in the GORNATION Gymnastics Rings giveaway please type in why you should win the rings - 3 Funniest/Most creative answers win (PROVIDE EMAIL ADRESS FOR CONTACT)',
       'Height in centimeters (example answer: 175)',
       'Weight in kilograms (example answer: 70)',
       'Upper arm length in centimeters (optional - please be strict)',
       'Do you do mainly do weighted pull ups or chin ups?',
       'Please enter your rep max and weight of your weighted pull in format: axb (a = weight, b = rep max). Ex: 1rm at 90kg = 90x1, 3rm at 70kg = 70x3 and 5rm at 30kg = 30x5. Good form, full range of motion counts',
       'What is your max number of unweighted pull ups / chinups you can do? (example answer: 20 chin ups). Put in N/A if you don't know.',
       'Can you do One Arm Chin Up or a One Arm Pull Up',
       'What is your total specific training time for OAC/OAP in frequency per week and years of training? Please enter in format: a/b (a = number of times per week, b = number of years). Ex: 2x per week for 3 years = 2/3',
       'What has personally helped you with progressing / achieving your OAC or OAP? If you couldn't elaborate on your training in the previous question about your training time please do so in the Other choice here.',
       'Height in feet'inches(example answer: 5'8)',
       'Weight in lbs (example answer: 150)',
       'Upper arm length in inches (optional - please be strict)',
       'Do you do mainly do weighted pull ups or chin ups?.1',
       'Please enter your rep max and weight of your weighted pull in format: axb (a = weight, b = rep max). Ex: 1rm at 90lbs = 90x1, 3rm at 70lbs = 70x3 and 5rm at 30lbs = 30x5. Good form, full range of motion counts',
       'What is your max number of unweighted pull ups / chin ups you can do? (example answer: 20 chin ups)',
       'Can you do One Arm Chin Up or a One Arm Pull Up.1',
       'What is your total specific training time for OAC/OAP in frequency per week and years of training? Please enter in format: a/b (a = number of times per week, b = number of years). Ex: 2x per week for 3 years = 2/3.1',
       'What has personally helped you with progressing / achieving your OAC or OAP? If you couldn't elaborate on your training in the previous question about your training time please do so in the Other choice here..1',
       'What is your max number of unweighted pull ups / chinups you can do? (example answer: 20 chin ups). Put in N/A if you don't know..1',
       'Unnamed: 22'],
      dtype='object')

In [4]:
metric = raw.iloc[:,3:12]
metric.columns

Index(['Height in centimeters (example answer: 175)',
       'Weight in kilograms (example answer: 70)',
       'Upper arm length in centimeters (optional - please be strict)',
       'Do you do mainly do weighted pull ups or chin ups?',
       'Please enter your rep max and weight of your weighted pull in format: axb (a = weight, b = rep max). Ex: 1rm at 90kg = 90x1, 3rm at 70kg = 70x3 and 5rm at 30kg = 30x5. Good form, full range of motion counts',
       'What is your max number of unweighted pull ups / chinups you can do? (example answer: 20 chin ups). Put in N/A if you don't know.',
       'Can you do One Arm Chin Up or a One Arm Pull Up',
       'What is your total specific training time for OAC/OAP in frequency per week and years of training? Please enter in format: a/b (a = number of times per week, b = number of years). Ex: 2x per week for 3 years = 2/3',
       'What has personally helped you with progressing / achieving your OAC or OAP? If you couldn't elaborate on your training in the previous question about your training time please do so in the Other choice here.'],
      dtype='object')

In [5]:
imperial = raw.iloc[:,12:22]
imperial.columns

Index(['Height in feet'inches(example answer: 5'8)',
       'Weight in lbs (example answer: 150)',
       'Upper arm length in inches (optional - please be strict)',
       'Do you do mainly do weighted pull ups or chin ups?.1',
       'Please enter your rep max and weight of your weighted pull in format: axb (a = weight, b = rep max). Ex: 1rm at 90lbs = 90x1, 3rm at 70lbs = 70x3 and 5rm at 30lbs = 30x5. Good form, full range of motion counts',
       'What is your max number of unweighted pull ups / chin ups you can do? (example answer: 20 chin ups)',
       'Can you do One Arm Chin Up or a One Arm Pull Up.1',
       'What is your total specific training time for OAC/OAP in frequency per week and years of training? Please enter in format: a/b (a = number of times per week, b = number of years). Ex: 2x per week for 3 years = 2/3.1',
       'What has personally helped you with progressing / achieving your OAC or OAP? If you couldn't elaborate on your training in the previous question about your training time please do so in the Other choice here..1',
       'What is your max number of unweighted pull ups / chinups you can do? (example answer: 20 chin ups). Put in N/A if you don't know..1'],
      dtype='object')

In [6]:
col_names = ["height","weight","upper_arm_length","pull_style",
             "weight_x_repmax","max_pulls","oac_ability",
             "specific_training_time","best_contribution_to_oac"]

In [7]:
metric.columns = col_names
metric.head()

,height,weight,upper_arm_length,pull_style,weight_x_repmax,max_pulls,oac_ability,specific_training_time,best_contribution_to_oac
0,180,84,38,Weighted pull up,51x1,NaN,I can do 1 slow OAC/OAP negative,2/2,"Partial reps, Pulley system assisted, High vol..."
1,192,78,NaN,I don't do and haven't ever done weighted pull...,0x0,12,I can't do neither (no slow negatives / Bad fo...,0/0,NaN
2,168,55,NaN,Weighted pull up,75x1,18,I can do multiple slow OAC/OAP negatives / Bad...,2/1,"Eccentrics / Negatives, Climber's approach (ho..."
3,190,80,14,Weighted pull up,25x1,10,I can't do neither (no slow negatives / Bad fo...,2/1,Weighted pull ups/chin ups
4,172,68,NaN,Weighted chin up,40x2,18,I can't do neither (no slow negatives / Bad fo...,1/0,NaN

In [8]:
metric.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1130 entries, 0 to 1129
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   height                    945 non-null    object
 1   weight                    945 non-null    object
 2   upper_arm_length          406 non-null    object
 3   pull_style                945 non-null    object
 4   weight_x_repmax           944 non-null    object
 5   max_pulls                 883 non-null    object
 6   oac_ability               945 non-null    object
 7   specific_training_time    937 non-null    object
 8   best_contribution_to_oac  841 non-null    object
dtypes: object(9)
memory usage: 79.6+ KB

In [9]:
metric = metric.dropna(axis=0,how='all')
metric.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 945 entries, 0 to 1129
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   height                    945 non-null    object
 1   weight                    945 non-null    object
 2   upper_arm_length          406 non-null    object
 3   pull_style                945 non-null    object
 4   weight_x_repmax           944 non-null    object
 5   max_pulls                 883 non-null    object
 6   oac_ability               945 non-null    object
 7   specific_training_time    937 non-null    object
 8   best_contribution_to_oac  841 non-null    object
dtypes: object(9)
memory usage: 73.8+ KB

In [10]:
col_names.append("max_pulls1")
col_names

['height',
 'weight',
 'upper_arm_length',
 'pull_style',
 'weight_x_repmax',
 'max_pulls',
 'oac_ability',
 'specific_training_time',
 'best_contribution_to_oac',
 'max_pulls1']

In [11]:
imperial.columns = col_names
imperial.head()

,height,weight,upper_arm_length,pull_style,weight_x_repmax,max_pulls,oac_ability,specific_training_time,best_contribution_to_oac,max_pulls1
0,NaN,NaN,Eric's test response (can be included into ana...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
imperial = imperial.dropna(axis=0,how="all")
imperial.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 186 entries, 0 to 1127
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   height                    185 non-null    object
 1   weight                    185 non-null    float64
 2   upper_arm_length          68 non-null     object
 3   pull_style                185 non-null    object
 4   weight_x_repmax           185 non-null    object
 5   max_pulls                 3 non-null      float64
 6   oac_ability               185 non-null    object
 7   specific_training_time    183 non-null    object
 8   best_contribution_to_oac  174 non-null    object
 9   max_pulls1                151 non-null    object
dtypes: float64(2), object(8)
memory usage: 16.0+ KB

In [13]:
imperial.head()

,height,weight,upper_arm_length,pull_style,weight_x_repmax,max_pulls,oac_ability,specific_training_time,best_contribution_to_oac,max_pulls1
0,NaN,NaN,Eric's test response (can be included into ana...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,6'1,175.0,NaN,Weighted chin up,40x3,10.0,I can't do neither (no slow negatives / Bad fo...,2/1,"Weighted pull ups/chin ups, Archer pull ups",NaN
18,5'6,135.0,13.1 inches,I do both and they are equally strong in my ca...,55x7,31.0,I can do a One Arm Chin Up (full ROM - supinat...,1/1,"Eccentrics / Negatives, Weighted pull ups/chin...",NaN
25,5'7,134.0,NaN,Weighted chin up,65x1,22.0,I can't do neither (no slow negatives / Bad fo...,1/1,"Weighted pull ups/chin ups, Pulley system assi...",NaN
52,6'0,180.0,NaN,Weighted pull up,90x1,NaN,I can't do neither (no slow negatives / Bad fo...,2/1,"Weighted pull ups/chin ups, Mixed grip / Mantl...",13 pull-ups

In [14]:
imperial = imperial.iloc[1:]
imperial.head()

,height,weight,upper_arm_length,pull_style,weight_x_repmax,max_pulls,oac_ability,specific_training_time,best_contribution_to_oac,max_pulls1
17,6'1,175.0,NaN,Weighted chin up,40x3,10.0,I can't do neither (no slow negatives / Bad fo...,2/1,"Weighted pull ups/chin ups, Archer pull ups",NaN
18,5'6,135.0,13.1 inches,I do both and they are equally strong in my ca...,55x7,31.0,I can do a One Arm Chin Up (full ROM - supinat...,1/1,"Eccentrics / Negatives, Weighted pull ups/chin...",NaN
25,5'7,134.0,NaN,Weighted chin up,65x1,22.0,I can't do neither (no slow negatives / Bad fo...,1/1,"Weighted pull ups/chin ups, Pulley system assi...",NaN
52,6'0,180.0,NaN,Weighted pull up,90x1,NaN,I can't do neither (no slow negatives / Bad fo...,2/1,"Weighted pull ups/chin ups, Mixed grip / Mantl...",13 pull-ups
53,5'10,170.0,14'' 16'' a guess,I do both and they are equally strong in my ca...,15x3,NaN,I can do a One Arm Chin Up (full ROM - supinat...,2/1,"Eccentrics / Negatives, Weighted pull ups/chin...",12 chin 11 pull ups

In [15]:
imperial.at[17,"max_pulls1"] = 10.0
imperial.at[18,"max_pulls1"] = 31.0
imperial.at[25,"max_pulls1"] = 22.0
imperial.head()

,height,weight,upper_arm_length,pull_style,weight_x_repmax,max_pulls,oac_ability,specific_training_time,best_contribution_to_oac,max_pulls1
17,6'1,175.0,NaN,Weighted chin up,40x3,10.0,I can't do neither (no slow negatives / Bad fo...,2/1,"Weighted pull ups/chin ups, Archer pull ups",10.0
18,5'6,135.0,13.1 inches,I do both and they are equally strong in my ca...,55x7,31.0,I can do a One Arm Chin Up (full ROM - supinat...,1/1,"Eccentrics / Negatives, Weighted pull ups/chin...",31.0
25,5'7,134.0,NaN,Weighted chin up,65x1,22.0,I can't do neither (no slow negatives / Bad fo...,1/1,"Weighted pull ups/chin ups, Pulley system assi...",22.0
52,6'0,180.0,NaN,Weighted pull up,90x1,NaN,I can't do neither (no slow negatives / Bad fo...,2/1,"Weighted pull ups/chin ups, Mixed grip / Mantl...",13 pull-ups
53,5'10,170.0,14'' 16'' a guess,I do both and they are equally strong in my ca...,15x3,NaN,I can do a One Arm Chin Up (full ROM - supinat...,2/1,"Eccentrics / Negatives, Weighted pull ups/chin...",12 chin 11 pull ups

In [16]:
col_names[5] = "max_pulls1"
col_names[-1] = "max_pulls"
col_names

['height',
 'weight',
 'upper_arm_length',
 'pull_style',
 'weight_x_repmax',
 'max_pulls1',
 'oac_ability',
 'specific_training_time',
 'best_contribution_to_oac',
 'max_pulls']

In [17]:
imperial = imperial[col_names]

In [19]:
imperial = imperial.drop(columns=["max_pulls"])
imperial.head()

,height,weight,upper_arm_length,pull_style,weight_x_repmax,max_pulls1,oac_ability,specific_training_time,best_contribution_to_oac
17,6'1,175.0,NaN,Weighted chin up,40x3,10.0,I can't do neither (no slow negatives / Bad fo...,2/1,"Weighted pull ups/chin ups, Archer pull ups"
18,5'6,135.0,13.1 inches,I do both and they are equally strong in my ca...,55x7,31.0,I can do a One Arm Chin Up (full ROM - supinat...,1/1,"Eccentrics / Negatives, Weighted pull ups/chin..."
25,5'7,134.0,NaN,Weighted chin up,65x1,22.0,I can't do neither (no slow negatives / Bad fo...,1/1,"Weighted pull ups/chin ups, Pulley system assi..."
52,6'0,180.0,NaN,Weighted pull up,90x1,13 pull-ups,I can't do neither (no slow negatives / Bad fo...,2/1,"Weighted pull ups/chin ups, Mixed grip / Mantl..."
53,5'10,170.0,14'' 16'' a guess,I do both and they are equally strong in my ca...,15x3,12 chin 11 pull ups,I can do a One Arm Chin Up (full ROM - supinat...,2/1,"Eccentrics / Negatives, Weighted pull ups/chin..."

In [22]:
new_cols = col_names[:9]
new_cols[5] = "max_pulls"
new_cols

['height',
 'weight',
 'upper_arm_length',
 'pull_style',
 'weight_x_repmax',
 'max_pulls',
 'oac_ability',
 'specific_training_time',
 'best_contribution_to_oac']

In [23]:
imperial.columns = new_cols
imperial.head()

,height,weight,upper_arm_length,pull_style,weight_x_repmax,max_pulls,oac_ability,specific_training_time,best_contribution_to_oac
17,6'1,175.0,NaN,Weighted chin up,40x3,10.0,I can't do neither (no slow negatives / Bad fo...,2/1,"Weighted pull ups/chin ups, Archer pull ups"
18,5'6,135.0,13.1 inches,I do both and they are equally strong in my ca...,55x7,31.0,I can do a One Arm Chin Up (full ROM - supinat...,1/1,"Eccentrics / Negatives, Weighted pull ups/chin..."
25,5'7,134.0,NaN,Weighted chin up,65x1,22.0,I can't do neither (no slow negatives / Bad fo...,1/1,"Weighted pull ups/chin ups, Pulley system assi..."
52,6'0,180.0,NaN,Weighted pull up,90x1,13 pull-ups,I can't do neither (no slow negatives / Bad fo...,2/1,"Weighted pull ups/chin ups, Mixed grip / Mantl..."
53,5'10,170.0,14'' 16'' a guess,I do both and they are equally strong in my ca...,15x3,12 chin 11 pull ups,I can do a One Arm Chin Up (full ROM - supinat...,2/1,"Eccentrics / Negatives, Weighted pull ups/chin..."

In [24]:
metric.to_excel("metric_data.xlsx",index=False)
imperial.to_excel("imperial_data.xlsx",index=False)

### height, weight cleaning and conversion to metric for the imperial unit data set

In [2]:
import re

In [90]:
imperial = pd.read_excel("imperial_data.xlsx")

In [91]:
imperial.head()

,height,weight,upper_arm_length,pull_style,weight_x_repmax,max_pulls,oac_ability,specific_training_time,best_contribution_to_oac
0,6'1,175,NaN,Weighted chin up,40x3,10,I can't do neither (no slow negatives / Bad fo...,2/1,"Weighted pull ups/chin ups, Archer pull ups"
1,5'6,135,13.1 inches,I do both and they are equally strong in my ca...,55x7,31,I can do a One Arm Chin Up (full ROM - supinat...,1/1,"Eccentrics / Negatives, Weighted pull ups/chin..."
2,5'7,134,NaN,Weighted chin up,65x1,22,I can't do neither (no slow negatives / Bad fo...,1/1,"Weighted pull ups/chin ups, Pulley system assi..."
3,6'0,180,NaN,Weighted pull up,90x1,13 pull-ups,I can't do neither (no slow negatives / Bad fo...,2/1,"Weighted pull ups/chin ups, Mixed grip / Mantl..."
4,5'10,170,14'' 16'' a guess,I do both and they are equally strong in my ca...,15x3,12 chin 11 pull ups,I can do a One Arm Chin Up (full ROM - supinat...,2/1,"Eccentrics / Negatives, Weighted pull ups/chin..."

In [92]:
imperial["height"] = imperial["height"].apply(lambda x: str(x).replace('',''))
imperial["height"] = imperial["height"].apply(lambda x: str(x).replace(' ',''))
imperial["height"] = imperial["height"].apply(lambda x: str(x).replace('ft',"'"))
imperial["height"] = imperial["height"].apply(lambda x: str(x).replace('inches',''))
imperial["height"] = imperial["height"].apply(lambda x: str(x).replace('(',''))
imperial["height"] = imperial["height"].apply(lambda x: str(x).replace(')',''))
imperial["height"] = imperial["height"].apply(lambda x: str(x).replace('"',''))
imperial["height"] = imperial["height"].apply(lambda x: x+"'0" if (len(x)==1) else x)
imperial["height"] = imperial["height"].apply(lambda x: x.replace(".","'") if (x[1]==".") else x)
imperial["height"] = imperial["height"].apply(lambda x: x[:-1] if (x[-1]=="'") else x)
imperial["height"] = imperial["height"].apply(lambda x: x[:-1] if (x[-1]=="") else x)
imperial["height"] = imperial["height"].apply(lambda x: x.replace('',"'"))

In [112]:
num = "510"
print(re.match(r"(\d'\d+(.\d+)?)",num)==None)

True

In [113]:
test = lambda x : x[0]+"'"+x[1:] if(re.match(r"(\d'\d(.\d+)?)",x)==None) else x
print(test(num))

5'10

In [114]:
print(test("5'10"))

5'10

In [115]:
imperial["height"] = imperial["height"].apply(lambda x : x[0]+"'"+x[1:] if(re.match(r"(\d'\d(.\d+)?)",x)==None) else x)

In [116]:
imperial["height"] = imperial["height"].str.extract(r"(\d'\d(.\d+)?)")

In [118]:
imperial.to_excel("imperial_data.xlsx",index=False)

In [133]:
imperial = pd.read_excel("imperial_data.xlsx")

In [134]:
imperial.head()

,height,weight,upper_arm_length,pull_style,weight_x_repmax,max_pulls,oac_ability,specific_training_time,best_contribution_to_oac
0,6'1,175,NaN,Weighted chin up,40x3,10,I can't do neither (no slow negatives / Bad fo...,2/1,"Weighted pull ups/chin ups, Archer pull ups"
1,5'6,135,13.1 inches,I do both and they are equally strong in my ca...,55x7,31,I can do a One Arm Chin Up (full ROM - supinat...,1/1,"Eccentrics / Negatives, Weighted pull ups/chin..."
2,5'7,134,NaN,Weighted chin up,65x1,22,I can't do neither (no slow negatives / Bad fo...,1/1,"Weighted pull ups/chin ups, Pulley system assi..."
3,6'0,180,NaN,Weighted pull up,90x1,13 pull-ups,I can't do neither (no slow negatives / Bad fo...,2/1,"Weighted pull ups/chin ups, Mixed grip / Mantl..."
4,5'1,170,14'' 16'' a guess,I do both and they are equally strong in my ca...,15x3,12 chin 11 pull ups,I can do a One Arm Chin Up (full ROM - supinat...,2/1,"Eccentrics / Negatives, Weighted pull ups/chin..."

In [135]:
imperial.at[4,"upper_arm_length"] = '15"'
imperial.at[42,"upper_arm_length"] = '18"'
imperial.at[73,"upper_arm_length"] = '12"'

In [136]:
imperial.at[170,"upper_arm_length"] = '14"'

In [138]:
imperial["upper_arm_length"] = imperial["upper_arm_length"].apply(lambda x: str(x).replace(" ",""))

In [139]:
imperial["upper_arm_length"] = imperial["upper_arm_length"].str.extract(r"(\d+(.\d+)?)")

In [141]:
imperial.to_excel("imperial_data.xlsx",index=False)

In [159]:
imperial = pd.read_excel("imperial_data.xlsx")

In [160]:
imperial["weight_x_repmax"] = imperial["weight_x_repmax"].apply(lambda x: str(x).replace(" ",""))
imperial["weight_x_repmax"] = imperial["weight_x_repmax"].apply(lambda x: str(x).replace("at","@"))

In [161]:
imperial["weight_x_repmax"] = imperial["weight_x_repmax"].apply(lambda x: str(x).replace("repmax","rm"))
imperial["weight_x_repmax"] = imperial["weight_x_repmax"].apply(lambda x: str(x).replace("of","@"))

In [162]:
imperial.tail(20)

,height,weight,upper_arm_length,pull_style,weight_x_repmax,max_pulls,oac_ability,specific_training_time,best_contribution_to_oac
165,6'0,153,NaN,Weighted pull up,IhardlydoweightedpullupssoIdonotknow.,12,I can't do neither (no slow negatives / Bad fo...,I do not actively train for the OAC/OAP at thi...,Eccentrics / Negatives
166,5'1,165,NaN,Did weighted work in the past. Havent in a ye...,0x0,>20 (havent tested in a while),I can do multiple slow OAC/OAP negatives / Bad...,1.5/1,"Eccentrics / Negatives, Mixed grip / Mantle ch..."
167,5'9,155,NaN,Weighted pull up,90x2,18 pullups,I can do 1 slow OAC/OAP negative,0,Weighted pull ups/chin ups
168,5'1,150,14.0,Weighted pull up,1rm@100lbs.5rm@65lbs,20 pull ups,I can do a One Arm Chin Up (full ROM - supinat...,About half a year 3x a week,Pulley system assisted
169,5'3,150,NaN,I do both,100lbs,28 pullups,I can do a One Arm Pull Up (full ROM - pronated),1/2,"Eccentrics / Negatives, Band assisted, Lockoffs"
170,5'1,118,14.0,I don't do and haven't ever done weighted pull...,0,15 pull ups and 20 chin ups,I can do multiple slow OAC/OAP negatives / Bad...,2/1,Band assisted
171,6'0,185,NaN,"I used to do weighted chins, lost gym access.",185x120,30,I can do 1 slow OAC/OAP negative,2x1,Climber's approach (holding your arm with seco...
172,5'7,160,NaN,Weighted pull up,"135x1,90x13,70x15,45x18",30 Pull ups,I can do a One Arm Pull Up (full ROM - pronated),1-2 times per week for 6 years,"Eccentrics / Negatives, Weighted pull ups/chin..."
173,5'1,155,NaN,Weighted pull up,115x1100x390x5,37,I can do both (full ROM),1/2,Attempts
174,5'7,155,NaN,Weighted pull up,1rm@160lbs,30-35,I can do both (full ROM),2-3x per week,"Eccentrics / Negatives, Band assisted"
175,5'1,165,15.5,Weighted chin up,60x1,12 chinups,I can't do neither (no slow negatives / Bad fo...,2/1,"Eccentrics / Negatives, Climber's approach (ho..."
176,5'1,146,NaN,I do both and they are equally strong in my ca...,146x2,28,I can do both (full ROM),2/1,"Eccentrics / Negatives, Weighted pull ups/chin..."
177,5'8,175,NaN,Weighted chin up,105x5,26,I can do both (full ROM),1/2,"Weighted pull ups/chin ups, Attaching a rope t..."
178,5'9,153,14.0,Weighted pull up,95x1,"About 24, has been a while since tested",I can do a One Arm Pull Up (full ROM - pronated),2/10 months,"Eccentrics / Negatives, Weighted pull ups/chin..."
179,6'0,150,NaN,Weighted pull up,45x4,21,I can't do neither (no slow negatives / Bad fo...,1/2,Climber's approach (holding your arm with seco...
180,6'1,165,NaN,Weighted pull up,88x1,20,I can do 1 slow OAC/OAP negative,Ive only played around with it mainly holding...,Band assisted
181,5'7,125,5.0,I don't do and haven't ever done weighted pull...,zweebop,zezezeee,I never attempted neither of them,waawa,Partial reps
182,5'1,154,NaN,Weighted pull up,85x1,15,I never attempted neither of them,1/1,NaN
183,5'1,150,NaN,Weighted pull up,75x3,15,I can't do neither (no slow negatives / Bad fo...,0,NaN
184,5'1,170,14.0,Weighted pull up,"115x1,100x3,90x5",20 pullups,I can do a One Arm Chin Up (full ROM - supinat...,2/5,"Eccentrics / Negatives, Weighted pull ups/chin..."

In [163]:
imperial.at[173,"weight_x_repmax"] = "115x1"
imperial.at[184,"weight_x_repmax"] = "115x1"
imperial.at[168,"weight_x_repmax"] = "100x1"
imperial.at[172,"weight_x_repmax"] = "135x1"

##### honestly kinda feels like bad practice when I use df.at[] but like wow the range of different patterns I have to account for in the regex is kinda overwhelming

In [164]:
imperial.at[100,"weight_x_repmax"] = "70x1"
imperial.at[101,"weight_x_repmax"] = "115x1"
imperial.at[103,"weight_x_repmax"] = "75x2"
imperial.at[118,"weight_x_repmax"] = "135x1"
imperial.at[142,"weight_x_repmax"] = "100x1"
imperial.at[146,"weight_x_repmax"] = "90x1"
imperial.at[153,"weight_x_repmax"] = "80x1"
imperial.at[165,"weight_x_repmax"] = "0x0"

In [166]:
imperial.tail()

,height,weight,upper_arm_length,pull_style,weight_x_repmax,max_pulls,oac_ability,specific_training_time,best_contribution_to_oac
180,6'1,165,NaN,Weighted pull up,88x1,20,I can do 1 slow OAC/OAP negative,Ive only played around with it mainly holding...,Band assisted
181,5'7,125,5.0,I don't do and haven't ever done weighted pull...,zweebop,zezezeee,I never attempted neither of them,waawa,Partial reps
182,5'1,154,NaN,Weighted pull up,85x1,15,I never attempted neither of them,1/1,NaN
183,5'1,150,NaN,Weighted pull up,75x3,15,I can't do neither (no slow negatives / Bad fo...,0,NaN
184,5'1,170,14.0,Weighted pull up,115x1,20 pullups,I can do a One Arm Chin Up (full ROM - supinat...,2/5,"Eccentrics / Negatives, Weighted pull ups/chin..."

In [167]:
imperial = imperial.drop([181])
imperial.tail()

,height,weight,upper_arm_length,pull_style,weight_x_repmax,max_pulls,oac_ability,specific_training_time,best_contribution_to_oac
179,6'0,150,NaN,Weighted pull up,45x4,21,I can't do neither (no slow negatives / Bad fo...,1/2,Climber's approach (holding your arm with seco...
180,6'1,165,NaN,Weighted pull up,88x1,20,I can do 1 slow OAC/OAP negative,Ive only played around with it mainly holding...,Band assisted
182,5'1,154,NaN,Weighted pull up,85x1,15,I never attempted neither of them,1/1,NaN
183,5'1,150,NaN,Weighted pull up,75x3,15,I can't do neither (no slow negatives / Bad fo...,0,NaN
184,5'1,170,14.0,Weighted pull up,115x1,20 pullups,I can do a One Arm Chin Up (full ROM - supinat...,2/5,"Eccentrics / Negatives, Weighted pull ups/chin..."

In [170]:
imperial.to_excel("test.xlsx")

In [171]:
imperial["weight_x_repmax"] = imperial["weight_x_repmax"].apply(lambda x: str(x).replace("=","@"))
imperial["weight_x_repmax"] = imperial["weight_x_repmax"].apply(lambda x: x.lower())

In [176]:
test = lambda x : x.split("@")[1]+"x"+x.split("@")[0] if("@" in x) else x
print(test("1rm@135lbs").replace('rm','').replace('lbs',''))

135x1

In [177]:
imperial["weight_x_repmax"] = imperial["weight_x_repmax"].apply(lambda x : x.split("@")[1]+"x"+x.split("@")[0] if("@" in x) else x)
imperial["weight_x_repmax"] = imperial["weight_x_repmax"].apply(lambda x: x.replace('rm','').replace('lbs',''))

In [184]:
imperial.to_excel("test.xlsx")

In [183]:
imperial.at[5,"weight_x_repmax"] = "80x1"
imperial.at[6,"weight_x_repmax"] = "90x1"
imperial.at[87,"weight_x_repmax"] = "0x0"
imperial.at[164,"weight_x_repmax"] = "80x6"
imperial.at[169,"weight_x_repmax"] = "100x1"
imperial.at[170,"weight_x_repmax"] = "0x0"
imperial.at[171,"weight_x_repmax"] = "185x12"
imperial = imperial.drop([185])

In [185]:
imperial["weight_x_repmax"] = imperial["weight_x_repmax"].apply(lambda x: x.replace('lb',''))

In [188]:
imperial["height"] = imperial["height"].apply(lambda x: (float(x.split("'")[0])*12+float(x.split("'")[1]))*2.54)
imperial.head()

,height,weight,upper_arm_length,pull_style,weight_x_repmax,max_pulls,oac_ability,specific_training_time,best_contribution_to_oac
0,185.42,175.0,NaN,Weighted chin up,40x3,10,I can't do neither (no slow negatives / Bad fo...,2/1,"Weighted pull ups/chin ups, Archer pull ups"
1,167.64,135.0,13.1,I do both and they are equally strong in my ca...,55x7,31,I can do a One Arm Chin Up (full ROM - supinat...,1/1,"Eccentrics / Negatives, Weighted pull ups/chin..."
2,170.18,134.0,NaN,Weighted chin up,65x1,22,I can't do neither (no slow negatives / Bad fo...,1/1,"Weighted pull ups/chin ups, Pulley system assi..."
3,182.88,180.0,NaN,Weighted pull up,90x1,13 pull-ups,I can't do neither (no slow negatives / Bad fo...,2/1,"Weighted pull ups/chin ups, Mixed grip / Mantl..."
4,154.94,170.0,15.0,I do both and they are equally strong in my ca...,15x3,12 chin 11 pull ups,I can do a One Arm Chin Up (full ROM - supinat...,2/1,"Eccentrics / Negatives, Weighted pull ups/chin..."

In [189]:
imperial["weight"] = imperial["weight"].apply(lambda x: float(x)*0.453592)
imperial.head()

,height,weight,upper_arm_length,pull_style,weight_x_repmax,max_pulls,oac_ability,specific_training_time,best_contribution_to_oac
0,185.42,79.378600,NaN,Weighted chin up,40x3,10,I can't do neither (no slow negatives / Bad fo...,2/1,"Weighted pull ups/chin ups, Archer pull ups"
1,167.64,61.234920,13.1,I do both and they are equally strong in my ca...,55x7,31,I can do a One Arm Chin Up (full ROM - supinat...,1/1,"Eccentrics / Negatives, Weighted pull ups/chin..."
2,170.18,60.781328,NaN,Weighted chin up,65x1,22,I can't do neither (no slow negatives / Bad fo...,1/1,"Weighted pull ups/chin ups, Pulley system assi..."
3,182.88,81.646560,NaN,Weighted pull up,90x1,13 pull-ups,I can't do neither (no slow negatives / Bad fo...,2/1,"Weighted pull ups/chin ups, Mixed grip / Mantl..."
4,154.94,77.110640,15.0,I do both and they are equally strong in my ca...,15x3,12 chin 11 pull ups,I can do a One Arm Chin Up (full ROM - supinat...,2/1,"Eccentrics / Negatives, Weighted pull ups/chin..."

In [192]:
imperial["weight_x_repmax"] = imperial["weight_x_repmax"].apply(lambda x: x.replace("na","0x0"))

In [194]:
imperial.at[110,"weight_x_repmax"] = "30x5"

In [195]:
imperial["weight_x_repmax"] = imperial["weight_x_repmax"].apply(lambda x: (str(float(x.split("x")[0])*0.453592)
                                                                               +"x"
                                                                               +x.split("x")[1]))
imperial.head()

,height,weight,upper_arm_length,pull_style,weight_x_repmax,max_pulls,oac_ability,specific_training_time,best_contribution_to_oac
0,185.42,79.378600,NaN,Weighted chin up,18.14368x3,10,I can't do neither (no slow negatives / Bad fo...,2/1,"Weighted pull ups/chin ups, Archer pull ups"
1,167.64,61.234920,13.1,I do both and they are equally strong in my ca...,24.94756x7,31,I can do a One Arm Chin Up (full ROM - supinat...,1/1,"Eccentrics / Negatives, Weighted pull ups/chin..."
2,170.18,60.781328,NaN,Weighted chin up,29.48348x1,22,I can't do neither (no slow negatives / Bad fo...,1/1,"Weighted pull ups/chin ups, Pulley system assi..."
3,182.88,81.646560,NaN,Weighted pull up,40.82328x1,13 pull-ups,I can't do neither (no slow negatives / Bad fo...,2/1,"Weighted pull ups/chin ups, Mixed grip / Mantl..."
4,154.94,77.110640,15.0,I do both and they are equally strong in my ca...,6.8038799999999995x3,12 chin 11 pull ups,I can do a One Arm Chin Up (full ROM - supinat...,2/1,"Eccentrics / Negatives, Weighted pull ups/chin..."

In [201]:
imperial["upper_arm_length"] = imperial["upper_arm_length"].apply(lambda x: float(x)*2.54)
imperial.head()

,height,weight,upper_arm_length,pull_style,weight_x_repmax,max_pulls,oac_ability,specific_training_time,best_contribution_to_oac
0,185.42,79.378600,NaN,Weighted chin up,18.14368x3,10,I can't do neither (no slow negatives / Bad fo...,2/1,"Weighted pull ups/chin ups, Archer pull ups"
1,167.64,61.234920,33.274,I do both and they are equally strong in my ca...,24.94756x7,31,I can do a One Arm Chin Up (full ROM - supinat...,1/1,"Eccentrics / Negatives, Weighted pull ups/chin..."
2,170.18,60.781328,NaN,Weighted chin up,29.48348x1,22,I can't do neither (no slow negatives / Bad fo...,1/1,"Weighted pull ups/chin ups, Pulley system assi..."
3,182.88,81.646560,NaN,Weighted pull up,40.82328x1,13 pull-ups,I can't do neither (no slow negatives / Bad fo...,2/1,"Weighted pull ups/chin ups, Mixed grip / Mantl..."
4,154.94,77.110640,38.100,I do both and they are equally strong in my ca...,6.8038799999999995x3,12 chin 11 pull ups,I can do a One Arm Chin Up (full ROM - supinat...,2/1,"Eccentrics / Negatives, Weighted pull ups/chin..."

In [202]:
imperial.to_excel("metric_converted.xlsx",index=False)

In [203]:
dataframes = [metric,imperial]
combined = pd.concat(dataframes)
combined = combined.reset_index(drop=True)
combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1129 entries, 0 to 1128
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   height                    1129 non-null   object
 1   weight                    1129 non-null   object
 2   upper_arm_length          470 non-null    object
 3   pull_style                1129 non-null   object
 4   weight_x_repmax           1128 non-null   object
 5   max_pulls                 1036 non-null   object
 6   oac_ability               1129 non-null   object
 7   specific_training_time    1119 non-null   object
 8   best_contribution_to_oac  1014 non-null   object
dtypes: object(9)
memory usage: 79.5+ KB

In [204]:
combined.to_excel("combined v1.xlsx",index=False)

#### realised I need to clean metric height,weight units before combining the two

In [2]:
metric = pd.read_excel("metric_data.xlsx")

In [3]:
metric.head()

,height,weight,upper_arm_length,pull_style,weight_x_repmax,max_pulls,oac_ability,specific_training_time,best_contribution_to_oac
0,180,84,38,Weighted pull up,51x1,NaN,I can do 1 slow OAC/OAP negative,2/2,"Partial reps, Pulley system assisted, High vol..."
1,192,78,NaN,I don't do and haven't ever done weighted pull...,0x0,12,I can't do neither (no slow negatives / Bad fo...,0/0,NaN
2,168,55,NaN,Weighted pull up,75x1,18,I can do multiple slow OAC/OAP negatives / Bad...,2/1,"Eccentrics / Negatives, Climber's approach (ho..."
3,190,80,14,Weighted pull up,25x1,10,I can't do neither (no slow negatives / Bad fo...,2/1,Weighted pull ups/chin ups
4,172,68,NaN,Weighted chin up,40x2,18,I can't do neither (no slow negatives / Bad fo...,1/0,NaN

#### for some reason '\w+' doesn't work and I had to use '[a-zA-Z]+'
#### wish I'd known about this sooner when I was working with imperial data smh

In [4]:
metric["height"] = metric["height"].apply(lambda x: re.sub('[a-zA-Z]+','',str(x)))
metric["weight"] = metric["weight"].apply(lambda x: re.sub('[a-zA-Z]+','',str(x)))
metric["height"] = metric["height"].apply(lambda x: x.replace(",","."))
metric["weight"] = metric["weight"].apply(lambda x: x.replace(",","."))
metric["upper_arm_length"] = metric["upper_arm_length"].apply(lambda x: re.sub('[a-zA-Z]+','',str(x)))

#### trying to parse the proper format out of the responses are a nightmare
#### I regret removing input validation
#### time to git gud

In [5]:
metric["weight_x_repmax"] = metric["weight_x_repmax"].apply(lambda x: str(x).replace("at","x"))
metric["weight_x_repmax"] = metric["weight_x_repmax"].apply(lambda x: str(x).replace("~","x"))
metric["weight_x_repmax"] = metric["weight_x_repmax"].apply(lambda x: str(x).replace("=","x"))
metric["weight_x_repmax"] = metric["weight_x_repmax"].apply(lambda x: str(x).replace("*","x"))
metric["weight_x_repmax"] = metric["weight_x_repmax"].apply(lambda x: str(x).replace("","x"))
metric["weight_x_repmax"] = metric["weight_x_repmax"].apply(lambda x: str(x).replace("@","x"))
metric["weight_x_repmax"] = metric["weight_x_repmax"].apply(lambda x: str(x).replace("with","x"))
metric["weight_x_repmax"] = metric["weight_x_repmax"].apply(lambda x: str(x).replace("rm",""))
metric["weight_x_repmax"] = metric["weight_x_repmax"].apply(lambda x: str(x).replace("kg",""))

In [6]:
metric["weight_x_repmax"] = metric["weight_x_repmax"].apply(lambda x: str(x).replace(" ",""))

patterns to find
* \d{2}x\d{1}
* \d{2}x\d{2}
* \d{3}x\d{1}
* \d{3}x\d{2}
* \d{1}x\d{2}
* \d{1}x\d{2}

In [7]:
metric["wxr_pattern1"] = metric["weight_x_repmax"].apply(lambda x: ",".join(re.findall('\d{2}x\d{1}',str(x))))
metric["wxr_pattern2"] = metric["weight_x_repmax"].apply(lambda x: ",".join(re.findall('\d{2}x\d{2}',str(x))))
metric["wxr_pattern3"] = metric["weight_x_repmax"].apply(lambda x: ",".join(re.findall('\d{3}x\d{1}',str(x))))
metric["wxr_pattern4"] = metric["weight_x_repmax"].apply(lambda x: ",".join(re.findall('\d{3}x\d{2}',str(x))))
metric["wxr_pattern5"] = metric["weight_x_repmax"].apply(lambda x: ",".join(re.findall('\d{1}x\d{1}',str(x))))
metric["wxr_pattern6"] = metric["weight_x_repmax"].apply(lambda x: ",".join(re.findall('\d{1}x\d{2}',str(x))))

* merge the rows(separate by commas)
* split by commas to get a list of weight x rep
* compare the weight for each element in the list
* take the largest's index and use that weight x rep as the true value

In [40]:
metric.to_excel("test.xlsx")

In [8]:
arr1 = ["20x1","120x1"]
arr2 = ["3x4","3x45"]

In [15]:
temp = [i.split("x") for i in arr2] #gives list of lists
print(temp)
temp = [int(i) for sublist in temp for i in sublist] # flattens the previous list
print(temp)
max_num = str(max(temp)) #finds the max number
print(max_num)
max_rm = [i for i in arr2 if max_num in i][0] #finds the maximum weight x rep max
print(max_rm)

[['3', '4'], ['3', '45']]
[3, 4, 3, 45]
45
3x45

In [17]:
metric.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 945 entries, 0 to 944
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   height                    945 non-null    object
 1   weight                    945 non-null    object
 2   upper_arm_length          945 non-null    object
 3   pull_style                945 non-null    object
 4   weight_x_repmax           945 non-null    object
 5   max_pulls                 883 non-null    object
 6   oac_ability               945 non-null    object
 7   specific_training_time    937 non-null    object
 8   best_contribution_to_oac  841 non-null    object
 9   wxr_pattern1              945 non-null    object
 10  wxr_pattern2              945 non-null    object
 11  wxr_pattern3              945 non-null    object
 12  wxr_pattern4              945 non-null    object
 13  wxr_pattern5              945 non-null    object
 14  wxr_pattern6              945 non-null    object
dtypes: object(15)
memory usage: 110.9+ KB

In [37]:
wxr = metric.iloc[:,9:]
wxr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 945 entries, 0 to 944
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   wxr_pattern1  945 non-null    object
 1   wxr_pattern2  945 non-null    object
 2   wxr_pattern3  945 non-null    object
 3   wxr_pattern4  945 non-null    object
 4   wxr_pattern5  945 non-null    object
 5   wxr_pattern6  945 non-null    object
dtypes: object(6)
memory usage: 44.4+ KB

In [38]:
wxr = wxr.replace(r'^\s*$',"0x0",regex=True)
wxr = wxr.fillna("0x0")

In [39]:
wxr.head()

,wxr_pattern1,wxr_pattern2,wxr_pattern3,wxr_pattern4,wxr_pattern5,wxr_pattern6
0,51x1,0x0,0x0,0x0,1x1,0x0
1,0x0,0x0,0x0,0x0,0x0,0x0
2,75x1,0x0,0x0,0x0,5x1,0x0
3,25x1,0x0,0x0,0x0,5x1,0x0
4,40x2,0x0,0x0,0x0,0x2,0x0

In [40]:
wxr["combined"] = wxr[["wxr_pattern1","wxr_pattern2","wxr_pattern3","wxr_pattern4","wxr_pattern5","wxr_pattern6"]].agg(','.join,axis=1)

In [41]:
wxr.head()

,wxr_pattern1,wxr_pattern2,wxr_pattern3,wxr_pattern4,wxr_pattern5,wxr_pattern6,combined
0,51x1,0x0,0x0,0x0,1x1,0x0,"51x1,0x0,0x0,0x0,1x1,0x0"
1,0x0,0x0,0x0,0x0,0x0,0x0,"0x0,0x0,0x0,0x0,0x0,0x0"
2,75x1,0x0,0x0,0x0,5x1,0x0,"75x1,0x0,0x0,0x0,5x1,0x0"
3,25x1,0x0,0x0,0x0,5x1,0x0,"25x1,0x0,0x0,0x0,5x1,0x0"
4,40x2,0x0,0x0,0x0,0x2,0x0,"40x2,0x0,0x0,0x0,0x2,0x0"

In [42]:
wxr["combined"] = wxr["combined"].apply(lambda x: x.split(","))
wxr.head()

,wxr_pattern1,wxr_pattern2,wxr_pattern3,wxr_pattern4,wxr_pattern5,wxr_pattern6,combined
0,51x1,0x0,0x0,0x0,1x1,0x0,"[51x1, 0x0, 0x0, 0x0, 1x1, 0x0]"
1,0x0,0x0,0x0,0x0,0x0,0x0,"[0x0, 0x0, 0x0, 0x0, 0x0, 0x0]"
2,75x1,0x0,0x0,0x0,5x1,0x0,"[75x1, 0x0, 0x0, 0x0, 5x1, 0x0]"
3,25x1,0x0,0x0,0x0,5x1,0x0,"[25x1, 0x0, 0x0, 0x0, 5x1, 0x0]"
4,40x2,0x0,0x0,0x0,0x2,0x0,"[40x2, 0x0, 0x0, 0x0, 0x2, 0x0]"

In [43]:
wxr["step1"] = wxr["combined"].apply(lambda x: [i.split("x") for i in x])
wxr.head()

,wxr_pattern1,wxr_pattern2,wxr_pattern3,wxr_pattern4,wxr_pattern5,wxr_pattern6,combined,step1
0,51x1,0x0,0x0,0x0,1x1,0x0,"[51x1, 0x0, 0x0, 0x0, 1x1, 0x0]","[[51, 1], [0, 0], [0, 0], [0, 0], [1, 1], [0, 0]]"
1,0x0,0x0,0x0,0x0,0x0,0x0,"[0x0, 0x0, 0x0, 0x0, 0x0, 0x0]","[[0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0]]"
2,75x1,0x0,0x0,0x0,5x1,0x0,"[75x1, 0x0, 0x0, 0x0, 5x1, 0x0]","[[75, 1], [0, 0], [0, 0], [0, 0], [5, 1], [0, 0]]"
3,25x1,0x0,0x0,0x0,5x1,0x0,"[25x1, 0x0, 0x0, 0x0, 5x1, 0x0]","[[25, 1], [0, 0], [0, 0], [0, 0], [5, 1], [0, 0]]"
4,40x2,0x0,0x0,0x0,0x2,0x0,"[40x2, 0x0, 0x0, 0x0, 0x2, 0x0]","[[40, 2], [0, 0], [0, 0], [0, 0], [0, 2], [0, 0]]"

In [44]:
wxr["step2"] = wxr["step1"].apply(lambda x: [int(i) for sublist in x for i in sublist])
wxr.head()

,wxr_pattern1,wxr_pattern2,wxr_pattern3,wxr_pattern4,wxr_pattern5,wxr_pattern6,combined,step1,step2
0,51x1,0x0,0x0,0x0,1x1,0x0,"[51x1, 0x0, 0x0, 0x0, 1x1, 0x0]","[[51, 1], [0, 0], [0, 0], [0, 0], [1, 1], [0, 0]]","[51, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0]"
1,0x0,0x0,0x0,0x0,0x0,0x0,"[0x0, 0x0, 0x0, 0x0, 0x0, 0x0]","[[0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0]]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
2,75x1,0x0,0x0,0x0,5x1,0x0,"[75x1, 0x0, 0x0, 0x0, 5x1, 0x0]","[[75, 1], [0, 0], [0, 0], [0, 0], [5, 1], [0, 0]]","[75, 1, 0, 0, 0, 0, 0, 0, 5, 1, 0, 0]"
3,25x1,0x0,0x0,0x0,5x1,0x0,"[25x1, 0x0, 0x0, 0x0, 5x1, 0x0]","[[25, 1], [0, 0], [0, 0], [0, 0], [5, 1], [0, 0]]","[25, 1, 0, 0, 0, 0, 0, 0, 5, 1, 0, 0]"
4,40x2,0x0,0x0,0x0,0x2,0x0,"[40x2, 0x0, 0x0, 0x0, 0x2, 0x0]","[[40, 2], [0, 0], [0, 0], [0, 0], [0, 2], [0, 0]]","[40, 2, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0]"

In [45]:
wxr["step3"] = wxr["step2"].apply(lambda x: str(max(x)))
wxr.head()

,wxr_pattern1,wxr_pattern2,wxr_pattern3,wxr_pattern4,wxr_pattern5,wxr_pattern6,combined,step1,step2,step3
0,51x1,0x0,0x0,0x0,1x1,0x0,"[51x1, 0x0, 0x0, 0x0, 1x1, 0x0]","[[51, 1], [0, 0], [0, 0], [0, 0], [1, 1], [0, 0]]","[51, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0]",51
1,0x0,0x0,0x0,0x0,0x0,0x0,"[0x0, 0x0, 0x0, 0x0, 0x0, 0x0]","[[0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0]]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",0
2,75x1,0x0,0x0,0x0,5x1,0x0,"[75x1, 0x0, 0x0, 0x0, 5x1, 0x0]","[[75, 1], [0, 0], [0, 0], [0, 0], [5, 1], [0, 0]]","[75, 1, 0, 0, 0, 0, 0, 0, 5, 1, 0, 0]",75
3,25x1,0x0,0x0,0x0,5x1,0x0,"[25x1, 0x0, 0x0, 0x0, 5x1, 0x0]","[[25, 1], [0, 0], [0, 0], [0, 0], [5, 1], [0, 0]]","[25, 1, 0, 0, 0, 0, 0, 0, 5, 1, 0, 0]",25
4,40x2,0x0,0x0,0x0,0x2,0x0,"[40x2, 0x0, 0x0, 0x0, 0x2, 0x0]","[[40, 2], [0, 0], [0, 0], [0, 0], [0, 2], [0, 0]]","[40, 2, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0]",40

In [29]:
def get_max(x,y):
    return [i for i in x if y in i][0]
print(get_max(["40x2","0x2"],"40"))

40x2

In [30]:
wxr["wxr"] = get_max(wxr["combined"],wxr["step3"])
wxr.head()

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [36]:
wxr.head()

AttributeError: 'str' object has no attribute 'head'

In [46]:
# think I may have to use iterrows or some other iterating method smh
max_wxr = []
for i in wxr.index:
    arr = wxr["combined"][i]
    max_num = wxr["step3"][i]
    final = [i for i in arr if max_num in i][0]
    max_wxr.append(final)

wxr["wxr"] = max_wxr

### will have to ask how you can do this with apply(lambda x: bla blah) method

In [47]:
wxr.head()

,wxr_pattern1,wxr_pattern2,wxr_pattern3,wxr_pattern4,wxr_pattern5,wxr_pattern6,combined,step1,step2,step3,wxr
0,51x1,0x0,0x0,0x0,1x1,0x0,"[51x1, 0x0, 0x0, 0x0, 1x1, 0x0]","[[51, 1], [0, 0], [0, 0], [0, 0], [1, 1], [0, 0]]","[51, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0]",51,51x1
1,0x0,0x0,0x0,0x0,0x0,0x0,"[0x0, 0x0, 0x0, 0x0, 0x0, 0x0]","[[0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0]]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",0,0x0
2,75x1,0x0,0x0,0x0,5x1,0x0,"[75x1, 0x0, 0x0, 0x0, 5x1, 0x0]","[[75, 1], [0, 0], [0, 0], [0, 0], [5, 1], [0, 0]]","[75, 1, 0, 0, 0, 0, 0, 0, 5, 1, 0, 0]",75,75x1
3,25x1,0x0,0x0,0x0,5x1,0x0,"[25x1, 0x0, 0x0, 0x0, 5x1, 0x0]","[[25, 1], [0, 0], [0, 0], [0, 0], [5, 1], [0, 0]]","[25, 1, 0, 0, 0, 0, 0, 0, 5, 1, 0, 0]",25,25x1
4,40x2,0x0,0x0,0x0,0x2,0x0,"[40x2, 0x0, 0x0, 0x0, 0x2, 0x0]","[[40, 2], [0, 0], [0, 0], [0, 0], [0, 2], [0, 0]]","[40, 2, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0]",40,40x2

In [50]:
metric["wxr"] = max_wxr
metric = metric.drop(columns=["wxr_pattern1","wxr_pattern2","wxr_pattern3","wxr_pattern4","wxr_pattern5","wxr_pattern6"])
metric.head()

,height,weight,upper_arm_length,pull_style,weight_x_repmax,max_pulls,oac_ability,specific_training_time,best_contribution_to_oac,wxr
0,180,84,38,Weighted pull up,51x1,NaN,I can do 1 slow OAC/OAP negative,2/2,"Partial reps, Pulley system assisted, High vol...",51x1
1,192,78,,I don't do and haven't ever done weighted pull...,0x0,12,I can't do neither (no slow negatives / Bad fo...,0/0,NaN,0x0
2,168,55,,Weighted pull up,75x1,18,I can do multiple slow OAC/OAP negatives / Bad...,2/1,"Eccentrics / Negatives, Climber's approach (ho...",75x1
3,190,80,14,Weighted pull up,25x1,10,I can't do neither (no slow negatives / Bad fo...,2/1,Weighted pull ups/chin ups,25x1
4,172,68,,Weighted chin up,40x2,18,I can't do neither (no slow negatives / Bad fo...,1/0,NaN,40x2

In [51]:
metric.to_excel("temp.xlsx",index=False)